<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/loginPage.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="menu">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <a href="/guideLogin">Guide</a>
                    <a href="/studentLogin">Student</a>
                    <a href="/evaluatorLogin">Evaluator</a>
                </div>
                  
                <div id="main">
                    <div class="menubutton">
                        <span id="dot" style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776; </span>
                    </div>
                </div>
                  
            </div>
            <div class="logoimage">
                <div class="logo"></div>
            </div>
            <div class="space"></div>

        </div>
    </header>


    <main>
        <div class="login-container">
            <h1 id="color">{% block login %}{% endblock login %}</h1>
            <br/>
            <form action="#" method="post">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required placeholder="Username">
                
                <label for="password">Password:</label>
    
                <input type="password" id="password" name="password" required placeholder="password">
                
                <button type="submit">Login</button>
            </form>
            <br/>
            <p class="signup-link">Don't have an account? <a href="/registerStudent">Sign up</a></p>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Project Hub. All rights reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
          document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
          document.body.style.backgroundColor = "white";
        }
        </script>
</body>
</html>