<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    {% load static %}

    {% block css %} {% endblock css %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {% comment %} {% block css %}
    {% endblock css %} {% endcomment %}
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logoimage">
                <div class="logo"></div>
            </div>
            
            <div class="options">
                <a href='/studentPage/homepage' id="group">GROUPS</a>
                <a href='/studentPage/search' id="search">SEARCH</a>
                <a href='/studentPage/upload' id="upload">UPLOAD</a>
                <a href='/studentPage/resources' id="resourses">RESOURCES</a>

            </div>

        </div>
    </header>
    <main>
        <div class="sideBar">
            {% block sideBar %}
            
            {% endblock sideBar %}

        </div>
        {% block search %}{% endblock search %}
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Project Hub. All rights reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
    
</body>
</html>