{% extends "student/base.html" %}
{%load static%}
{% block css %}  
  <link rel="stylesheet" href="{% static 'student\home.css' %}">
{% endblock css %}

{% block sideBar %}
<div class="function">
    <i class="fa-solid fa-file-lines" id="file"></i>
    <i class="fa-solid fa-user-group" id="groups"></i>
    <i class="fa-solid fa-user-plus" id="addfr"></i>
</div>
<div class="settings">
    <i class="fa-solid fa-bell" id="bell"></i>
    <i class="fa-solid fa-gear" id="sett"></i>

</div>
{% endblock sideBar %}
