{% extends "student/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'student\search.css' %}">
{% endblock css %}
{% block sideBar %}
<div class="function">
    <i class="fa-solid fa-magnifying-glass" id="sersymbol"></i>
    <i class="fa-regular fa-clock" id="clock"></i>
    <i class="fa-regular fa-star" id="fav"></i>
</div>
<div class="settings">
    <i class="fa-solid fa-bell" id="bell"></i>
    <i class="fa-solid fa-gear" id="sett"></i>

</div>

{% endblock sideBar %}
{% block search %}
<div class="searchbox">
    <input id="inputbox" type="text" placeholder="Search...">
    <i class="fa-solid fa-magnifying-glass" id="inputsearchicon"></i>


</div>
{% endblock search %}