{% extends "student\base.html" %}
{%load static%}
{% block css %}
<link rel="stylesheet" href="{% static 'student\upload.css' %}">
{% endblock css %}
{% block sideBar %}
<div class="function">
    <i class="fa-regular fa-file-code" id="files"></i>
    <i class="fa-solid fa-database" id="database"></i>
    <i class="fa-solid fa-folder" id="folder"></i>
    <i class="fa-solid fa-cloud" id="cloud"></i>
</div>
<div class="settings">
    <i class="fa-solid fa-bell" id="bell"></i>
    <i class="fa-solid fa-gear" id="sett"></i>

</div>

{% endblock sideBar %}