{% extends "guide.html" %}
{% load static %}
{% block subcss %}
<link rel="stylesheet" href="{% static 'groups/groups.css' %}">  
{% endblock subcss %}

{% block subBody %}
<div class="mainBody">
    <div class="mainBodyHead">
        Groups
    </div>
    <div class="mainBodyTable">
        <div class="groupOptions">
            {% for obj in data %}
                <button class="groupOption">
                    <p>{{obj.groupCode}}</p>
                    <p>{{obj.projectName}}</p>
                </button>
            {% endfor %} 
        </div>                
    </div>
</div>

{% endblock subBody %}
{% block Script %}
<script src="{% static 'groups/groups.js' %}"></script>
{% endblock Script %}

