{% extends 'base.html' %}

{% block content %}
    <h2>Your Folders</h2>
    <ul>
        {% for folder in folders %}
            <li><a href="{% url 'view_folder' folder.id %}">{{ folder.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_folder' %}">Create New Folder</a>

    <h2>Files (Not in a Folder)</h2>
    <ul>
        {% for file in files %}
            <li>
                <a href="{% url 'display_file_content' file.id %}">{{ file.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'upload_file' %}">Upload New File</a>
{% endblock %}
