/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background-color: #1f2421;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

/* Logo styling */
.logoimage{
    height: 50px;
    width: 254px;
    background-size: cover;
    margin-left: 0px;
    background-color: #1f2421;
    display: flex;
    
}
.logo {
    background-image: url("/static/logo-Photoroom.png");
    height: 50px;
    width: 254px;
    font-size: 24px;
    flex: 1;    
    font-weight: bold;
    position: absolute;
    
}


/* main styling */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  85vh;
    background-color: #dce1de;
    justify-content: start;
}

/*main body*/
main{
    display: flex;
    flex-direction: row;
}



/* right side bar styling */
.rigthSidebar{
    height: 85vh;
    width: 4.5rem;
    background: #216869;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
i{
    font-size: 2rem;
    padding: 0.8rem;
    margin-top: 1rem;
    color: #9cc5a1;
    
}
i:hover{
    cursor: pointer;
    box-shadow: 4px 2px 6px #1f2421;
}

/* centre body  */
/* .mainBody::-webkit-scrollbar{
    width: 15px;
    scrollbar-arrow-color: #216869;
}


.mainBody::-webkit-scrollbar-track{
    border: 2.5px solid #216869;
    box-shadow: 2px 0px 1px #373a38;
}
.mainBody::-webkit-scrollbar-thumb {
    background: #1f2421; 
    border-radius: 2rem;
    
} */
  



.mainBody{
    height: 85vh;
    width: 70vw;    
    background: #dce1de;
    overflow: auto;

}
.mainBody p{
    padding: 1rem 1.5rem 1rem;
}


/* left body */
/* .leftSidebar{
    height: 85vh;
    width: 22vw;
    background: #216869;
} */

/* Footer styling */
footer {
    background-color: #1f2421;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 8rem;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}