/* addGroup.css */



/* Main body styling */
.mainBody {
    margin: 20px;
    padding: 20px;
    height: 75vh;
    width: 90vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

/* Header styling */
.mainBodyHead {

    padding: 1.5rem 10rem 1.5rem;
    
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1f2421;
    border-left: 0.7rem solid #49a078;
}
form{
    height: 90%;
    justify-content: space-between;
}
/* Table styling */
.mainBodyTable {
    width: 80%;
    border: 0.1rem solid #9eaba3;
    padding: 2rem;
    border-radius: 2rem;
    height: 70%;
}

.mainBodyTable form {
    display: flex;
    flex-direction: column;

}

/* Checkbox and label styling */
.groupOption {
    display: flex;
    align-items: center;
}

.groupOption label {
    display: flex;
    flex-direction: row;
    gap: 7rem; /* Adjust the gap as needed */
}

.groupOption p {
    margin: 0;
    width: 100%;
    text-align: left;
    
}

/* Submit button styling */
.mainBodyTable input[type="submit"] {
    padding: 10px 20px;
    background-color: #49a078;
    color: #9eaba3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.mainBodyTable input[type="submit"]:hover {
    background-color: #299160;
}
