<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% load static %}

    {% block css %} 
    
    {% endblock css %}
    {% block subcss %}
    
    {% endblock subcss %}
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logoimage">
                <div class="logo"></div>
            </div>
            
            

        </div>
    </header>
    <main>
        {% block mainBody %}
        
        {% endblock mainBody %}
    </main>

    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Project Hub. All rights reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
    </footer>
    {% block Script %}{% endblock Script %}
</body>
</html>