.register-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 370px;
    text-align: center;
    height: 95vh;
    overflow: auto;
}

.dropDown{
    height: 2.5rem;
}

label{
    padding-top: 1rem;
}

