/* Basic reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styling */
header {
    background-color: #1f2421;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

/* Logo styling */
.logoimage{
    height: 50px;
    width: 254px;
    background-size: cover;
    margin-left: 0px;
    background-color: #1f2421;
    display: flex;
    
}
.logo {
    background-image: url("./logo-Photoroom.png");
    height: 50px;
    width: 254px;
    font-size: 24px;
    flex: 1;    
    font-weight: bold;
    position: absolute;
    
}


/* main styling */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  85vh;
    background-color: #dce1de;
    justify-content: start;
}
.options{
    display: flex;
    width: 70vw;
    height: 100%;
    flex-wrap: wrap;
    margin-left: 3rem;
}
.options a {
    color: #ffffff;
    text-decoration: none;
    font-size: x-large;
    padding-right: 2rem;
    padding-left: 2rem;

}

#search{
    font-size: 32px;
    color: #49A078;
}
.options a:hover {
    color: #49A078;
    box-shadow: 5px 2px 2px black;
}


/* side bar styling */
.sideBar{
    width: 5rem;
    height: 100%;
    background-color: #216869;
}
.function{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12rem;

}

/* icon styling */
i {
    font-size: 2rem;
    padding: 20px;
    color: #49A078;
}
i:hover{
    cursor: pointer;
    box-shadow: 5px 2px 2px black;
}
#sersymbol{
    width: 80px;
    padding-left: 25px;
}
#clock{
    width: 80px;
    padding-left: 25px;
}
#fav{
    width: 80px;
    padding-left: 25px;
}

#bell{
    width: 80px;
    padding-left: 28px;
}
#sett{
    width: 80px;
    padding-left: 28px;
}

/* search box styling */
.searchbox{
    display: flex;
    position: absolute;
    left: 25vw;
    top: 15vh;
}
#inputsearchicon{
    position: relative;
    width: 50px;
    height: 50px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 1.5rem;
    margin-left: 0px;
    background-color: #216869;
}
#inputbox{
    width: 50vw;
    height: 50px;
    font-size: large;

}

/* Footer styling */
footer {
    background-color: #1f2421;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 8rem;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

